<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

{% include navigation.html %}

<div id="main" role="main">
  <article class="entry">
    <div class="entry-wrapper">
      <header class="entry-header">
        {% assign researcher = site.data.researchers[page.group].people[page.handle] %}
        <h1 class="entry-title">{{ researcher.name }}</h1>
        <center>
        <img src="{{ site.url }}/images/{{ page.handle }}.jpg" class="bio-photo-about-big" alt="{{ researcher.name }} photo"/>
      </center>
      </header>
      <div class="entry-content">
        <h2>Projects</h2>
        {% for project in researcher.projects %}<a href="{{ site.url }}/projects/{{ site.data.projects[project].url }}">{{ site.data.projects[project].title }}</a>{% if forloop.last == false %},{% endif %} {% endfor %}
        <h2>Website</h2>
        <a href="{{ researcher.website }}">{{ researcher.website }}</a>
        <h2>About</h2>
        {{ content }}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
